@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>

    <section class="container contact active" id="contact">
        <div class="contact-container ">
            <div class="main-title">
                <h2>Success <span></span><span class="bg-text">notice</span></h2>
            </div>
            <div class="contact-content-con">
                <div class="left-contact" style="text-align: center;">
                    <h4>Success Message Sent</h4>

                    

                    <p>
                        Your message is sent and will sure respond soon. Do Explore exposed projects within this app freely.


                    </p>

                    <h5><strong>Thank You</strong></h5>


                    <br />
                    <button class="btn btn-success" asp-controller="Home" asp-action="Index" >Continue</button>

                </div>

            </div>
        </div>
    </section>
</main>